<!DOCTYPE html>
<html>
<head>
    <title>Мой сайт</title>
    <!-- Здесь могут быть включены стили CSS и скрипты JavaScript -->
</head>
<body>
    <header>
        <!-- Здесь может находиться ваш заголовок или логотип сайта -->
    </header>
    
    <nav>
        <!-- Здесь может быть ваше навигационное меню -->
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <!-- Здесь может быть подвал сайта с информацией о копирайте и другой дополнительной информацией -->
    </footer>
</body>
</html>